<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [1]:
!pip install yfinance==0.1.67
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y

#!pip install plotly==5.3.1

Collecting yfinance==0.1.67
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: pandas>=0.24 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.3.5)
Requirement already satisfied: requests>=2.20 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (4.9.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: numpy>=1.15 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2022.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (3.3)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.16.0)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.67

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

pkgs/main/linux-64       [<=>                 ] (00m:00s)
pkgs/main/linux-64       [=>                ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s)
pkgs/main/linux-64       [=>                ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 412 KB / ?? (1.33 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 412 KB / ?? (1.33 MB/s)
pkgs/r/linux-64          [<=>                 ] (00m:00s)
pkgs/main/linux-64       [=>                ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 412 KB / ?? (1.33 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 480 KB / ?? (1.55 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 412 KB / ?? (1.33 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 480 KB / ?? (1.55 MB/s)
pkgs/r/noarch            [<=>                 ] (00m:00s)
pkgs/main/linux-64       [=>                ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 412 KB / ?? (1.33 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 480 KB / ?? (1.55 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 420 KB / ?? (1.35 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s) Finalizing...
pkgs/r/linux-64          [=>                ] (00m:00s) 480 KB / ?? (1.55 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 420 KB / ?? (1.35 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s) Done
pkgs/r/linux-64          [=>                ] (00m:00s) 480 KB / ?? (1.55 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 420 KB / ?? (1.35 MB/s)
pkgs/main/noarch         [====================] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 480 KB / ?? (1.55 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 420 KB / ?? (1.35 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 476 KB / ?? (1.54 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 480 KB / ?? (1.55 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 420 KB / ?? (1.35 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 480 KB / ?? (1.55 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 420 KB / ?? (1.35 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 480 KB / ?? (1.55 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 420 KB / ?? (1.35 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.51 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 420 KB / ?? (1.35 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.51 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 420 KB / ?? (1.35 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.51 MB/s)
pkgs/r/noarch            [ <=>                ] (00m:00s) 1 MB / ?? (2.52 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.51 MB/s)
pkgs/r/noarch            [ <=>                ] (00m:00s) Finalizing...
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.51 MB/s)
pkgs/r/noarch            [ <=>                ] (00m:00s) Done
pkgs/r/noarch            [====================] (00m:00s) Done
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.51 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) Finalizing...
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) Done
pkgs/r/linux-64          [====================] (00m:00s) Done
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 1 MB / ?? (2.74 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (3.01 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 2 MB / ?? (3.01 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 2 MB / ?? (3.10 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 2 MB / ?? (3.10 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 3 MB / ?? (3.33 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 3 MB / ?? (3.33 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 4 MB / ?? (3.46 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) Finalizing...
pkgs/main/linux-64       [     <=>            ] (00m:01s) Done
pkgs/main/linux-64       [====================] (00m:01s) Done

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - bs4==4.10.0
   - ca-certificates
   - certifi
   - openssl


  Package             Version  Build           Channel                  Size
──────────────────────────────────────────────────────────────────────────────
  Install:
──────────────────────────────────────────────────────────────────────────────

  + bs4                4.10.0  hd3eb1b0_0      pkgs/main/noarch        10 KB

  Change:
──────────────────────────────────────────────────────────────────────────────

  - certifi         2022.6.15  py37h89c1867_0  installed
  + certifi         2022.6.15  py37h06a4308_0  pkgs/main/linux-64     153 KB

  Upgrade:
──────────────────────────────────────────────────────────────────────────────

  - openssl            1.1.1p  h166bdaf_0      installed
  + openssl            1.1.1q  h7f8727e_0      pkgs/main/linux-64       3 MB

  Downgrade:
──────────────────────────────────────────────────────────────────────────────

  - beautifulsoup4     4.11.1  pyha770c72_0    installed
  + beautifulsoup4     4.10.0  pyh06a4308_0    pkgs/main/noarch        85 KB

  Summary:

  Install: 1 packages
  Change: 1 packages
  Upgrade: 1 packages
  Downgrade: 1 packages

  Total download: 3 MB

──────────────────────────────────────────────────────────────────────────────

Downloading  [>                                        ] (00m:00s)  578.94 KB/s
Extracting   [>                                                      ] (--:--)
Finished beautifulsoup4                       (00m:00s)              85 KB    577 KB/s
Downloading  [>                                        ] (00m:00s)  578.94 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  578.94 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  578.94 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  578.94 KB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Downloading  [>                                        ] (00m:00s)  534.24 KB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Downloading  [>                                        ] (00m:00s)  534.24 KB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Downloading  [===>                                     ] (00m:00s)    1.44 MB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Finished certifi                              (00m:00s)             153 KB    947 KB/s
Downloading  [===>                                     ] (00m:00s)    1.44 MB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Downloading  [===>                                     ] (00m:00s)    1.44 MB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Downloading  [===>                                     ] (00m:00s)    1.44 MB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Downloading  [===>                                     ] (00m:00s)    1.48 MB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Finished bs4                                  (00m:00s)              10 KB     61 KB/s
Downloading  [===>                                     ] (00m:00s)    1.48 MB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Downloading  [===>                                     ] (00m:00s)    1.48 MB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Downloading  [===>                                     ] (00m:00s)    1.48 MB/s
Extracting   [====================>                    ] (00m:00s)        2 / 4
Downloading  [===>                                     ] (00m:00s)    1.48 MB/s
Extracting   [====================>                    ] (00m:00s)        2 / 4
Downloading  [===>                                     ] (00m:00s)    1.48 MB/s
Extracting   [==============================>          ] (00m:00s)        3 / 4
Downloading  [=========================================] (00m:00s)   13.64 MB/s
Extracting   [==============================>          ] (00m:00s)        3 / 4
Finished openssl                              (00m:00s)               3 MB     12 MB/s
Downloading  [=========================================] (00m:00s)   13.64 MB/s
Extracting   [==============================>          ] (00m:00s)        3 / 4
Downloading  [=========================================] (00m:00s)   13.64 MB/s
Extracting   [==============================>          ] (00m:00s)        3 / 4
Downloading  [=========================================] (00m:00s)   13.64 MB/s
Extracting   [==============================>          ] (00m:00s)        3 / 4
Downloading  [=========================================] (00m:00s)   13.64 MB/s
Extracting   [=========================================] (00m:00s)        4 / 4
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [5]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [6]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [7]:
Tesla = yf.Ticker("TSLA")
Tesla

yfinance.Ticker object <TSLA>

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [70]:
tesla_data = Tesla.history(period = "max")

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [9]:
tesla_data.reset_index(inplace = True) 
tesla_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue](https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2022-01-01). Save the text of the response as a variable named `html_data`.

In [10]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2022-01-01"
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [11]:
soup = BeautifulSoup(html_data, "html.parser")

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Quarterly Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [81]:
tesla_revenue = soup.find_all('table')  

tesla_revenue = pd.DataFrame(columns=['Date','Revenue']) 
 
#finding tesla quarterly revenue table & date
for row in soup.find_all('tbody')[1].find_all('tr'): 

    col = row.find_all('td') 

    date = col[0].text 

    revenue=col[1].text 

     

    tesla_revenue = tesla_revenue.append({'Date':date,'Revenue':revenue},ignore_index = True) 

     

tesla_revenue

          Date Revenue
0   2020-04-30  $1,021
1   2020-01-31  $2,194
2   2019-10-31  $1,439
3   2019-07-31  $1,286
4   2019-04-30  $1,548
..         ...     ...
57  2006-01-31  $1,667
58  2005-10-31    $534
59  2005-07-31    $416
60  2005-04-30    $475
61  2005-01-31    $709

[62 rows x 2 columns]

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [13]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

Execute the following lines to remove an null or empty strings in the Revenue column.

In [14]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [15]:
# Tesla last 5 quarterly revenue
tesla_revenue.tail()

          Date Revenue
46  2010-09-30      31
47  2010-06-30      28
48  2010-03-31      21
50  2009-09-30      46
51  2009-06-30      27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [16]:
#using yfinance to extract Gamestop data
GameStop = yf.Ticker('GME') 
GameStop

yfinance.Ticker object <GME>

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [19]:
game_data = GameStop.history(period = 'max')

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [18]:
game_data.reset_index(inplace = True) 
game_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480514,6.773400,6.413184,6.766667,19054000,0.0,0.0
1,2002-02-14,6.850827,6.864293,6.682502,6.733000,2755400,0.0,0.0
2,2002-02-15,6.733001,6.749833,6.632006,6.699336,2097400,0.0,0.0
3,2002-02-19,6.665669,6.665669,6.312187,6.430015,1852600,0.0,0.0
4,2002-02-20,6.463682,6.648839,6.413184,6.648839,1723200,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html>. Save the text of the response as a variable named `html_data`.

In [20]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [23]:
soup = BeautifulSoup(html_data, 'html.parser')

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Quarterly Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [ ]:
#GameStop Quarterly Revenue

gme_revenue = soup.find_all('table')  

gme_revenue = pd.DataFrame(columns=['Date','Revenue']) 
 
#finding GameStop quarterly revenue table & date

for row in soup.find_all('tbody')[1].find_all('tr'): 

    col = row.find_all('td') 

    date = col[0].text 

    revenue=col[1].text 

     
    gme_revenue = tesla_revenue.append({'Date':date,'Revenue':revenue},ignore_index = True) 

gme_revenue ["Revenue"] = gme_revenue ['Revenue'].str.replace(',|\$',"")  
gme_revenue

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:20: FutureWarning: The default value of regex will change from True to False in a future version.

          Date Revenue
0   2022-03-31   18756
1   2021-12-31   17719
2   2021-09-30   13757
3   2021-06-30   11958
4   2021-03-31   10389
5   2020-12-31   10744
6   2020-09-30    8771
7   2020-06-30    6036
8   2020-03-31    5985
9   2019-12-31    7384
10  2019-09-30    6303
11  2019-06-30    6350
12  2019-03-31    4541
13  2018-12-31    7226
14  2018-09-30    6824
15  2018-06-30    4002
16  2018-03-31    3409
17  2017-12-31    3288
18  2017-09-30    2985
19  2017-06-30    2790
20  2017-03-31    2696
21  2016-12-31    2285
22  2016-09-30    2298
23  2016-06-30    1270
24  2016-03-31    1147
25  2015-12-31    1214
26  2015-09-30     937
27  2015-06-30     955
28  2015-03-31     940
29  2014-12-31     957
30  2014-09-30     852
31  2014-06-30     769
32  2014-03-31     621
33  2013-12-31     615
34  2013-09-30     431
35  2013-06-30     405
36  2013-03-31     562
37  2012-12-31     306
38  2012-09-30      50
39  2012-06-30      27
40  2012-03-31      30
41  2011-12-31      39
42  2011-09-30      58
43  2011-06-30      58
44  2011-03-31      49
45  2010-12-31      36
46  2010-09-30      31
47  2010-06-30      28
48  2010-03-31      21
49  2009-09-30      46
50  2009-06-30      27
51  2005-01-31     709

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [25]:
gme_revenue.tail()

          Date Revenue
47  2010-06-30      28
48  2010-03-31      21
49  2009-09-30      46
50  2009-06-30      27
51  2005-01-31     709

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`. Note the graph will only show data upto June 2021.

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2022-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description          |
| ----------------- | ------- | ------------- | --------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part   |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab         |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>